<section id="splash-screen">
  <h1 class="splash-title">Budget App</h1>
  
  <nav>
    <%= link_to "LOG IN ", new_user_session_path, class: "btton blue-btton" %>
    <%= link_to "SIGN UP ", new_user_registration_path, class: "btton grey-btton" %>
  </nav>
</section>